aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
anyascii==0.3.2
asgiref==3.8.1
attrs==25.3.0
beautifulsoup4==4.13.4
certifi==2025.4.26
channels==4.2.2
charset-normalizer==3.4.2
click==8.2.0
defusedxml==0.7.1
Django==5.2
django-filter==25.1
django-modelcluster==6.4
django-permissionedforms==0.1
django-stubs-ext==5.2.0
django-taggit==6.1.0
django-tasks==0.7.0
django-treebeard==4.7.1
djangorestframework==3.16.0
dotenv==0.9.9
draftjs_exporter==5.1.0
et_xmlfile==2.0.0
filetype==1.2.0
frozenlist==1.6.0
h11==0.16.0
idna==3.10
laces==0.1.2
Markdown==3.8
multidict==6.4.4
openai==0.28.1
openpyxl==3.1.5
pillow==11.2.1
pillow_heif==0.21.0
propcache==0.3.1
PyMySQL==1.1.1
python-dotenv==1.1.0
requests==2.32.3
slack_bolt==1.23.0
slack_sdk==3.35.0
soupsieve==2.7
sqlparse==0.5.3
telepath==0.3.1
tqdm==4.67.1
typing_extensions==4.13.2
urllib3==2.4.0
uvicorn==0.34.2
wagtail==7.0
Willow==1.10.0
yarl==1.20.0
